/* GENERAL - begin */

:root {
    --color-background: #f7f7f7;
    --color-accent: #192A4C;
    --color-accent-hover: #3a5792;
    --color-accent-2: #192A4C;
    --color-accent-hover-2: #3a5792;
    --color-text: #1b1b1b;
    --color-text-sec: #5b5b5b;
    --color-nav: #f1f1f1b9;
    --color-nav-support: #f1f1f1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #1b1b1b;
        --color-accent: #1249b7;
        --color-accent-hover: #1b58d1;
        --color-accent-2: #7ba5fa;
        --color-accent-hover-2: #a4bef2;
        --color-text: #efefef;
        --color-text-sec: #cbcbcb;
        --color-nav: #202020ba;
        --color-nav-support: #252525;
    }
}

*:focus {
    outline: none
}

a:focus {
    outline: var(--color-accent) 4px solid;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-text);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    color: var(--color-accent-2);
}

/* GENERAL - end */

/* NAVIGATION - begin */

nav {
    display: flex;
    position: fixed;
    border-radius: 32px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-nav);
    box-shadow: #00000054 0px 4px 16px 0px;
    margin: 16px;
    width: 718px;
    left: 50%;
    transform: translateX(calc(-50% - 16px));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 0 8px;
}

@supports (-webkit-backdrop-filter: none) and (backdrop-filter: none) {
    nav, footer {
        background-color: var(--color-nav-support);
    }
}

nav a {
    color: var(--color-accent-2);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 32px;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
}

nav a:hover:not(:first-child):not(:last-child):not(.active), nav a:focus:not(:first-child):not(:last-child):not(.active) {
    background-color: var(--color-background);
    color: var(--color-accent-hover-2);
    box-shadow: #00000054 0px 4px 16px 0px;
    outline: none;
}

nav a.active {
    background-color: var(--color-accent);
    color: #efefef;
    box-shadow: #00000054 0px 4px 16px 0px;
    cursor: default;
}

nav a:first-child {
    font-weight: bold;
}

nav a:first-child:hover {
    color: var(--color-accent);
    cursor: default;
}


nav a:last-child {
    display: none;
}

.logo {
    width: 28px;
}

.logo-mono {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    .logo-color {
        display: none;
    }
}

@media (prefers-color-scheme: light) {
    .logo-mono {
        display: none;
    }
}

@media (max-width: 770px) {
    nav a {
        display: none;
    }

    nav a:last-child {
        display: block;
    }

    nav {
        width: min-content;
        height: 56px;
        padding: 8px 0;
        bottom: 0;
        transition: .1s;
        border-radius: 50%;
    }
    
    .responsive {
        display: block;
        margin: 16px;
        width: calc(100% - 32px);
        height: min-content;
        border-radius: 24px;
        padding: 4px 6px;
        background-color: var(--color-nav-support);
    }
    
    .responsive a:not(:first-child) {
        display: block;
        padding: 12px 16px;
        margin: 4px 0;
        border-radius: 32px;
        color: var(--color-accent-2);
        text-decoration: none;
        transition: background-color 0.2s ease-in-out;
    }

    .responsive a:hover {
        color: var(--color-accent-hover);
    }
    
    .responsive a.active {
        background-color: var(--color-accent);
        color: #efefef;
    }

    .responsive a:last-child {
        text-align: center;
    }
}

/* NAVIGATION - end */

/* CONTENT START - begin */

.background {
    background-image: url(/assets/background.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
}

.content_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo-big {
    width: 192px;
    margin-bottom: 32px;
    transition: .2s;
}

.title_start {
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    line-height: .1;
}

.subtitle_start {
    font-weight: bold;
    padding: 0;
    color: #ffffff;
    line-height: .1;
}

.promo_start {
    font-weight: 400;
    font-size: 24px;
    padding: 0;
    color: #ffffff;
}

.verify {
    display: none;
}

.changeLanguageStart {
    display: flex;
    position: fixed;
    border-radius: 32px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-nav);
    box-shadow: #00000054 0px 4px 16px 0px;
    margin: 16px;
    left: 50%;
    bottom: 20px;
    transform: translateX(calc(-50% - 16px));
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
    padding: 0 8px;
}

.changeLanguageStart a {
    color: var(--color-accent);
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 32px;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
    cursor: pointer;
}

.changeLanguageStart a:hover {
    background-color: var(--color-background);
    color: var(--color-accent-hover);
    box-shadow: #00000054 0px 4px 16px 0px;
}

@media screen and (max-width: 770px) {
    .logo-big {
        width: 128px;
    }

    .changeLanguageStart {
        top: 20px;
        bottom: unset;
    }
}
    
/* CONTENT START - end */

/* CONTENT - begin */

.content {
    padding: 96px 24px 24px 24px;
    width: calc(100% - 48px);
}

button {
    background-color: var(--color-accent);
    color: #efefef;
    border-radius: 32px;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-shadow: #00000054 0px 4px 16px 0px;
    margin: 4px 8px;
}

button:hover {
    background-color: var(--color-accent-hover);
    box-shadow: #00000054 0px 2px 8px 0px;
}

button:focus {
    background-color: var(--color-accent-hover);
    box-shadow: #00000054 0px 2px 8px 0px;
}

.buttons {
    background-color: var(--color-nav);
    align-items: center;
    border-radius: 32px;
    padding: 8px;
    width: -moz-fit-content;
    width: fit-content;
}

.project {
    padding: 8px;
    width: calc(25% - 19px);
    height: auto;
    border-radius: 16px;
}

.project:hover {
    filter: brightness(90%);
}

a:focus .project {
    filter: brightness(90%);
    outline: var(--color-accent) 4px solid;
    box-shadow: #00000054 0px 4px 16px 0px;
}

a:has(.project) {
    outline: none;
}

.back-button {
    position: fixed;
    background-color: var(--color-nav-support);
    color: var(--color-accent);
    border: var(--color-accent-hover) 1px solid;
    left: 16px;
    top: 22px;
}

.back-button:hover, .back-button:focus {
    background-color: var(--color-accent);
    color: #efefef;
}

@media screen and (max-width: 1020px) and (min-width: 770px) {
    .back-button {
        top: 86px;
    }
}

header, .opinions {
    background-color: var(--color-nav);
    font-weight: bold;
    font-size: 24px;
    border-radius: 32px;
    padding: 8px;
}

header .header-content {
    max-width: 1000px;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

header .header-image {
    width: 66,66%;
}

header .header-image slideshow-container {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

header .header-text {
    width: 33,33%;
    padding: 0 32px;
}

header .header-text .price {
    font-weight: 4600;
    color: var(--color-accent);
}

header .header-text .description {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-sec);
}

header .header-text .adnotation {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text-sec);
}

@media screen and (max-width: 1000px) and (min-width: 770px) {
    .project {
        width: calc(50% - 18px);
    }
}

@media screen and (max-width: 770px) {
    .content {
        padding: 1px 16px 16px 16px;
    }
    button {
        width: 100%;
        margin: 8px 0;
    }
    .buttons {
        width: 100%;
    }
    .project {
        width: calc(100% - 16px);
    }
    .back-button {
        width: min-content;
        position: fixed;
        top: unset;
        bottom: 20px;
        left: 20px;
        z-index: 2;
    }
    header {
        width: 100%;
    }
    header .header-content {
        display: unset;
    }
    header .header-image {
        width: 100%;
    }
    header .header-text {
        width: calc(100% - 64px);
    }
}

header .header-image * {
    box-sizing: border-box;
    border-radius: 16px;
}

.slideshow-container {
    position: relative;
    margin: auto;
}

.images-slides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50% !important;
    -webkit-user-select: none;
    user-select: none;
    left: 16px;
    width: 55px;
    height: 55px;
    text-align: center;
}

.next {
    left: unset;
    right: 16px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.opinions {
    padding: 8px 20px;
    margin: 32px 0;
    width: calc(100% - 24px);
}

.opinion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--color-nav-support);
    margin: 16px 0;
}

.opinion .opinion-text {
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-sec);
    text-align: center;
}

.opinion .opinion-author {
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text);
    margin-top: 8px;
}

.only-text {
    margin: 0 auto;
    max-width: 1000px !important;
}

.aboutImage {
    width: 200px;
    height: 200px;
    background-image: url(/assets/photo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%;
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    line-height: 0;
    background-color: var(--color-nav);
    border-radius: 32px 32px 0 0;
    width: 100%;
    margin-top: auto;
}

.footerSocial, .footerLanguage {
    color: var(--color-text-sec);
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 10px;
    background-color: var(--color-nav-support);
    transition: background-color 0.2s ease-in-out;
}

.footerSocial:hover, .footerLanguage:hover {
    box-shadow: #00000054 0px 2px 8px 0px;
}

.footerSocial:focus, .footerLanguage:focus {
    box-shadow: #00000054 0px 2px 8px 0px;
    background-color: var(--color-accent);
    color: var(--color-nav);
}

@media (prefers-color-scheme: dark) {
    .footerSocial:focus, .footerLanguage:focus {
        background-color: var(--color-accent);
        color: var(--color-text);
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 32px;
    list-style-type: none;
}

.grid-item {
    background-color: var(--color-nav-support);
    text-decoration: none;
    border-radius: 16px;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-wrap: balance;
    height: 100px;
    padding: 0 16px;
    box-shadow: #00000054 0px 4px 8px 0px;
}

.grid-item:hover {
    background-color: var(--color-accent-hover);
    box-shadow: #00000054 0px 2px 16px 0px;
}

@media screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        gap: 16px;
    }
}

@media screen and (max-width: 770px) {
    footer {
        padding-bottom: 108px;
    }
}